* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.topbar {
  background-color: #333;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (min-width: 600px) {
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* position: static;*/
  }
}

.logo {
  display: flex;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 1rem;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
@media (min-width: 600px) {
  .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
}

.navbar li {
  list-style: none;
  width: 100%;
  text-align: center;
}

.navbar li a {
  display: block;
  color: white;
  padding: .5rem 1rem;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
@media (min-width: 600px) {
  .navbar li a {
    padding: 1rem;
  }
}

.navbar li a:hover {
  background-color: #777777;
}
.active {
  background-color: green;
}


/* GG tipp mobile first a képekhez */
/* //mobilon */
.col{
  background: red;
}
/* // 600px felett */
@media (min-width: 600px) {
  .col{
    background: green;
  }
} 